<div class='container'>
    <div class='jumbotron'>
         <h1><img id="cuteBurger" src="/assets/images/cute-burger.jpg">Eat. Dat. Burger!<img id="cuteBurger" src="/assets/images/cute-burger.jpg"></h1> 
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4>Burger Menu</h4>
                <div id="burgerList">
                    {{#each burgers}}
                            {{#unless this.devoured}}
                                <div>
                                    <p>
                                        <form class="form-inline" action="/update/{{this.id}}?_method=PUT" method="POST">
                                            <img src="/assets/images/burger-vector.jpg"> {{this.id}}. {{this.burger_name}}
                                                <input type="hidden" name="devour" value="1">
                                                    <button type="submit" class="btn-success" id="updateBurg">Devour!</button>
                                        </form>
                                    </p>
                                </div>
                            {{/unless}}
                        {{/each}}
                </div>
        </div>
        <div class="col-lg-6">
            <h4>Burgers Eaten</h4>
                <div id="devouredList">
                    {{#each burgers}}
                    {{#if this.devoured}}
                        <div>
                            <p>
                                <form action="delete/{{this.id}}?_method=DELETE" method="POST">
                                    <img src="/assets/images/eaten-burger.jpg"> 
                                        <span id="strikeSpan">
                                            {{this.id}}. {{this.burger_name}}
                                        </span>
                                    
                                        <button type="submit" class="btn-danger" id="deleteBurg">Remove</button>
                                </form>
                            </p>
                        </div>
                    {{/if}}
                {{/each}}
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="burgerCreator">
            <h4>What kind of burger would you like to add to the menu?</h4>
            <form action="/create" method="POST">
                <input type="text" id="newBurg" name="burger_name" placeholder="Your Hamazing-Burger!">
                    <button type="submit" class="btn-success" id="createBurg">Add Your Masterpiece</button>
            </form>
            
        </div>
    </div>
</div>

